<nav class="site-nav">
    <div class="site-nav-left">
        {% if page.current != 'home' %}
            {% if site.logo %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.baseurl}}{{ site.logo }}" alt="{{ site.title }}" /></a>
            {% else %}
                <a class="site-nav-logo" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
            {% endif %}
        {% endif %}
        {% if page.navigation %}
            {% include navigation.html %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
              <a href="https://linkedin.com/in/darryl-anderson" target="_blank" rel="noopener">
             <i class="fab fa-linkedin"></i> linkedin
          </a>
          &nbsp;&nbsp;
          <a href="https://github.com/darrylanderson" target="_blank" rel="noopener">
            <i class="fab fa-github"></i> github
          </a>
          &nbsp;&nbsp;
          <a href="https://techhub.social/@darrylanderson" target="_blank" rel="noopener">
            <i class="fab fa-mastodon"></i> mastodon
          </a>
          &nbsp;&nbsp;
        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {% endif %}
    </div>
</nav>
